
DATABASE_ADMIN_URL=postgres://db_user:password@localhost:5432/db_name
DATABASE_URL=postgres://bnr_app:bnrApp3293@localhost:5432/db_name


JWT_SECRET=f7K#mP2$xQ9nL4vR8wE1jY6uA3sD0bN5cT
JWT_REFRESH_SECRET=g8L$nQ3%yR0mK5wS2vF9jB4uC7eA1dH6tP
PORT=3000
